@font-face {
  font-family: "Kjf";
  src: url("/src/assets/font/kjf.ttf");
}

@import "base";
@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiDialogContent-root {
  background-color: transparent !important;
}

.custom-bg {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 10%,
    rgb(2, 2, 107) 95%
  );
}

html {
  background-color: #061029;
}

.MuiDialog-paper {
  background-color: #011439d7 !important;
}

.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.691) !important;
}
